# Backups
*.asv
*~
.directory

# Folders and files not desiderable
var_*
MatlabScripts/extra
FTLE_Matlab/ER3BP/Figure/Figure*
FTLE_Matlab/ER3BP/Figure/Video
# FTLE_Matlab/Compilation/Test\ for\ compilation
FTLE_Matlab/Compilation/
FTLE_Matlab/CPU/FTLE/Masdemont/Masdemont_n100_tol1e-6.fig
FTLE_Matlab/CPU/IntegratorC++/300.fig

# Tracers
Tracers/*.fig
Tracers/*.mat
Tracers/plot_integrated_tracers/txt/
Tracers/plot_integrated_tracers/mat/
#Tracers/plot_integrated_tracers/

# Data file
ris_int*
Results/
*data/
*figs/
data_for_the_history/
tracers.txt

# Executables
*bin/

# CodeBlocks specific files
*.depend
*.layout
*.cbTemp
*.ilk
*.pdb
obj/


# Tutorial folder
#Tutorial/*.log
#Tutorial/*.aux
#Tutorial/*.out

# Latex
*.log
*.aux
*.out

# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Useful binaries
!FTLE_CPU/bin/Linux/FTLE_CPU_x86_64
!FTLE_CPU/bin/WIN/FTLE_CPU_WIN.exe